<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <script defer src="/js/signup-step1.js"></script>
</head>
<body>
<div class = "container">
    <h1 class = "logo">TrackLearn</h1>
    <h2 class = "title">회원가입</h2>

    <form th:action = "@{/signup/step1}" th:object="${userSignupDTO}" method = "post">
        <div class = "form-group">
            <label for = "email">이메일 주소</label>
            <input type="email" id="email" th:field="*{email}" maxlength="100" required />
            <p class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

            <p class="error-message" th:if="${emailDuplicate}">이미 사용 중인 이메일입니다</p>
        </div>

        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" required minlength="8" maxlength="16"/>
            <p id="passwordHint" class="password-hint">영문, 숫자, 특수문자를 포함한 8~16자를 입력해야 합니다</p>


        </div>


        <div class ="form-group">


        <label for = "passwordCheck">비밀번호 확인</label>
            <input type ="password" id="passwordCheck" name = "passwordCheck" required />
            <p class ="error-message" th:if = "${passwordMismatch}">비밀번호가 일치하지 않습니다</p>
        </div>


        <div class="action-row">
            <a href="/login" class="link">로그인 하러 가기</a>
            <button type="submit" class="btn-primary">다음</button>
        </div>

    </form>
</div>
</body>
</html>